*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #4cebae;
}
.App{
  margin: auto;
  width: 1200px;
  text-align: center;
}
.App h1{
  padding: 20px;
}
.search-bar{
  padding: 10px;
  width: 500px;
}
.search-button{
  padding: 12px;
  background-color: rgb(84, 54, 255);
  color: white;
  border: 0;
}