.recipe{
  margin: 20px;
  min-height: 700px;
  width: 560px;
  background-color: white;
  border-radius: 10px;
}

.recipe ul{
  list-style-type: none;
}
.recipe{
  float: left;
}

.recipe ul{
  padding: 20px;
}
.recipe ul li{
  padding: 5px;
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}